*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}

.brand{
  display: flex;
  align-items: center;
  gap: 15px;
}

nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a{
  text-decoration: none;
  color: black;
}