*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

.brand{
  display: flex;
  align-items: center;
  gap: 15px;
}

nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a{
  text-decoration: none;
  color: black;
}

/* Main Page */
.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  gap: 18px;
}

.main-page h1{
  font-size: 3rem;
}

.main-page p{
  font-size: 1rem;
  color: gray;
}

/* Multiple Pages */
.multiple-page{
  display: flex;
}

.multiple-page main{
  width: 100%;
  border-width:2px 2px 2px 0;
  border-color: black;
  border-style: solid;
}

.education-page.footer{
  border-width: 2px 0 2px 0;
  border-color: black;
  border-style: solid;
}

.page-header{
  font-size: 30px;
  padding: 20px;
}

/*
.multiple-page main a:hover{
  color: rgb(117, 117, 237);
}
*/

/* Projects */
.projects.header{
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: black;
}

.projects.footer{
  border-width: 0 0 0 0;
}

.projects{
  border-width:0 0 2px 0;
  border-style: solid;
  border-color: black;
  padding: 12px 20px;
}

.projects a{
  text-decoration: none;
  color: black;
}

/* Work Experience */
.experience.header{
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: black;
}

.experience{
  padding: 20px;
}

.experience p{
  padding: 10px 0;
}

.experience a{
  color: rgb(0, 132, 255);
  text-decoration: none;
}

/* Education */
.education{
  padding: 0 20px;
}

.education p{
  padding-bottom: 10px;
}

.education ul{
  padding: 10px 20px;
}

/* Article */
.box-divider{
  display: flex;
}

.reviews{
  border-width: 2px;
  border-style: solid;
  border-color: black;
  margin: 0 20px;
  border-radius: 20px;
  padding: 20px;
}

.reviews p{
  padding: 8px 0;
}

.reviewer{
  color: gray;
}

/* Contact Page */
#contact-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  background-color: rgb(244, 244, 244);
  padding-top: 15px;
}

#contact-page h1{
  text-align: center;
  padding: 20px;
}

#contact-page form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 25px;
}

#contact-page form input,
#contact-page form textarea{
  width: 30%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

#contact-page form button{
  width: 20%;
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(244, 244, 244);
}

/* Responsive Design */
@media all and (orientation: portrait) {
  header{
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 0;
  }

  header .brand{
    flex-direction: column;
    align-items: center;
  }

  main .main-page{
    height: 20vh;
  }

  main .main-page h1{
    font-size: 7vw;
  }

  main .main-page p{
    font-size: 3vw;
  }

  main .multiple-page{
    flex-direction: column;
  }

  main .multiple-page main{
    border-width: 2px 0 0 0;
  }

  #projects-page .projects{
    background-color: rgb(229, 229, 229);
  }

  main .work-experience-page .experience{
    background-color: rgb(229, 229, 229);
  }

  article main{
    flex-direction: column;
    gap: 20px;
  }

  #contact-page form input,
  #contact-page form textarea{
    width: 80%;
  }

  #contact-page form button{
    width: 50%;
  }
}

