*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-between;
  margin: 20px 30px;
}

.brand{
  display: flex;
  align-items: center;
  gap: 15px;
}

nav{
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a{
  text-decoration: none;
  color: black;
}

.main-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 35vh;
  gap: 18px;
}

.main-page h1{
  font-size: 3rem;
}

.main-page p{
  font-size: 1rem;
  color: gray;
}

.multiple-page{
  display: flex;
}

.multiple-page main{
  width: 100%;
  border-width:2px 2px 2px 0;
  border-color: black;
  border-style: solid;
}

.multiple-page main{

}

.multiple-page main a{
  text-decoration: none;
  color: black;
  transition: 200ms;
}

.multiple-page main a:hover{
  color: rgb(117, 117, 237);
}

.projects.header{
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: black;
}

.projects.footer{
  border-width: 0 0 0 0;
}

.projects{
  border-width:0 0 2px 0;
  border-style: solid;
  border-color: black;
  padding: 12px 20px;
}

.page-header{
  font-size: 30px;
  padding: 20px;
}

